.body_backgorund {
    background-image: url(hOye.gif);
    background-position: center;
    background-size: cover;
}

#myCanvas {}

.body_backgorund {
    background-image: url(hOye.gif);
    background-position: center;
    background-size: cover;
}

#myCanvas {}